body {
	background: wheat;
}
body {
	font-family: Montserrat;
	padding: 10px;
	margin: 0px;
	min-width: 630px;
}

menu {
	top: 20px;
	padding-top: 10px;
	padding-bottom: 13px;
}

#logo {
	padding: 14px;
	padding-left: 150px;
}

.link {
	padding: 5px;
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 70%;
}

a:hover {
	background: #4b424f;
	transition-duration: 0.3s;
}

#dropDown {
}

#item1,
#item2,
#item3 {
}

#items {
	top: 63px;
}

#item3 {
}

#text1 {
	font-size: 50px;
}

pink {
	color: #aa15e4;
}

#2 {
}

#3 {
}

#regBtn {
	padding: 20px;
}

#readBtn {
	padding: 20px;
}

#container-1, #container-2, #container-3 {
	width: 33%;
	margin-right: 0px;
	padding: 20px;
}

.containers {
	color: #ffffff;
	text-decoration: none;
}

.containers:hover {
	opacity: 0.85;
	cursor: pointer;
}

#movie, #cube, #thumbs {
	width: 30%;
	height: 30%;
}

#container-1-1, #container-2-1, #container-3-1 {
	font-size: 20px;
}

footer {
	background: linear-gradient(0deg, #56394d 0%, #131030 100%);
	text-align: center;
}

#container-5 {
	color: #785674;
}

#container-4 {
}

#grid {
	display: flex;
	margin-bottom: 10px;
}

#fb {
	float: right;
	display: none;
}

#mLink {
	color: white;
	text-decoration: none;
}

#over {
	position: fixed;
	width:5.5%;
	font-size: 13px;
	margin-top: 80px;
	margin-left: 140px;
}

.flex-control-paging li a {
	margin-top: -40px;
	border-radius: 100% !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	width: 100px !important;
	height: 6px !important;
}

.marginBtn {
	margin: 8px;
	color: #ffffff;
	font: 700 14px / 20px Montserrat;
	transition-duration: 0.3s;
}

.marginBtn:hover {
	border-radius: 25px !important;
	transition-duration: 0.5s;
}

a:before {
}

.flex-next {
}

.flex-next:hover {
}

.flex-prev {
}

.flex-prev:hover {
}

#readMore {
}

#readMore:hover {
}

.flexslider {
	top: -40px;
	margin-bottom: 80px;
}

#hover {
}

#popup {
}

#regText {
}

#cancel {
}

#cancel:hover {
}

right {
}

left {
}

#sendBtn {
}

#sendBtn:hover {
}

#gMap {
}

#divider {
}

input,
td,
th {
}

table {
}

input[type="text"],
input[type="file"],
input[list],
textarea {
	width: 300px;
}

.question {
}

#ui-datepicker-div {
}

.ui-datepicker-prev {
}

.ui-datepicker-next {
}

.ui-datepicker-prev,
.ui-datepicker-next {
}

.ui-datepicker-title {
}

.ui-state-default {
}

.ui-state-default:hover,
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
}

table.ui-datepicker-calendar,
table.ui-datepicker-calendar tr td {
}

#startDate, #endDate {
}